<h1>Pictures</h1>
<%= link_to("New Picture", "/pictures/new") %>
<p><%= link_to "Pictures that are older than 1 month...", "/pictures/onemonth" %></p>


<p><%= form_tag("/pictures/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<%end%></p>

<%= render 'all_pictures', pictures: @pictures %>
